*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
html{
	font-size: 14px;
}
body{
}
#container{
	width: 99%;
	margin: 0px auto;
}
.cover{
	background-color: #9dc4fb;
}
.content{
	background-color: #cee2fb;
	text-align: center;
}
.title{
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
.clear{
	clear: both;
}
p{
		width: 100%;
		text-align: center;
}
/*header*/
	#header{
		padding:5px;
		height: 6em;
		margin-bottom: 1em;
	}
	#header .content{
		display: flex;
		align-items: center;
		
	}
	#id1-1{	
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 15%;
		float: left;
		height: 40%;
	}
	#id1-2{
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 55%;
		float: left;
		height: 40%;
	}
	#id1-3{
		margin-left: 0.5%;
		margin-right: 0.5%;
		width: 27%;
		float: left;
		height: 40%;	
	}
/*header*/

/*subpanel*/
	.subpanel{
		margin-bottom: 1em;
		height: 11em;
	}
	#hero{
		width: 62%;
		height: 100%;
		margin-right: 1%;
		float:left;
		padding:1em;
	}
	.subpanel #ad1{	
		width: 37%;
		height: 100%;
		background-color: #6fa6dc;
		float:left;
		display: flex;
		align-items: center;
	}
	#id2-1{
		height: 70%;
		width: 58%;
		display: flex;
		align-items: center;
		margin-right: 0.5em;
		float:left;
	}
	#id2-2{
		height: 70%;
		width: 39%;
		float:left;
		display: flex;
		align-items: center;
	}
/*subpanel*/
/*mainpanel*/
	.mainpanel{
		margin-bottom: 0.5em;
		height: 25em;
	}
	#maincontent{
		width: 62%;
		height: 100%;
		margin-right: 1%;
		float: left;
		padding:1em;
	}
	#ad2{
		display: none;
		float: left;
	}
	#sidebar{	
		width: 37%;
		height: 100%;
		float:left;
		padding:1em;
	}
	#maincontent .content{
		float:left;
		display: flex;
		align-items: center;
	}
	#id4-1{
		height: 85%;
		width: 37%;
		margin-right: 1%;	
	}
	#id4-2{
		height: 85%;
		width: 60%;	
	}
	#id5-1{
		width: 99%;
		margin: 0 auto;
		height: 85%;
		display: flex;
		align-items: center;
	}
/*mailpanel*/
/*footer*/
#footer{
	padding:10px 0 0 10px;
	background-color: #a1c2f8;
	height: 3em;
}
/*footer*/
@media screen and (max-width: 900px){
}
@media screen and (max-width: 770px){
 		.subpanel #ad1{
 			display: none;
 		}
 		.subpanel{
 			height: 12em;
 			display: block;
 		}
 		#hero{
 			width: 100%;
 		}
 		#id2-1{
 			height: 40%;
 			width: 100%;
 			float: none;
 			margin-bottom: 0.2em;
 		}
 		#id2-2{
 			height: 30%;
 			width: 100%;
 			float: none;
 		}
 		#id4-1{
 			width: 60%;
 			height: 30%;
 		}
 		#ad2{
 			width: 37%;
 			height: 30%;
 			display: flex;
 			align-items: center;
 			float: left;
 			background-color: #6fa6dc;
 		}
 		#id4-2{
 			height: 55%;
 			width: 100%;
 			margin-top: 1%;
 			float: none;
 		}
 		#maincontent{
 			float: none;
 			width: 100%;
 			margin-bottom: 1%; 
 			height: 70%
 		}
 		#sidebar{
 			height: 4em;
 			width: 100%;
 		}
 		#sidebar{
 			height: 29%;
 		}
 		#id5-1{
 			height: 50%;
 		}
}
@media screen and (max-width: 420px){
	#header{
		height: 9em;
	}
	#id1-1{
		height: 30%;
		float: none;
		width: 99%;
		margin-bottom: 1%;
	}
	#id1-2{
		height: 30%;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
	#id1-3{
		height: 30%;
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}
	#id2-1{
		display: none;
	}
	.subpanel{
		height: 7em;
	}
	#id2-2{
		height: 50%;
	}
	#id4-1{
		width: 100%;
		float: none;
		height: 14%;
		margin-bottom: 1%;
	}
	#maincontent{
		height: 99%;
	}
	#ad2{
		width: 100%;
		float: none;
		height: 14%;
		margin-bottom: 1%;
	}
	#sidebar{
		display: none;
	}
}