*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
html{
	font-size: 18px;
}
body{
	width: 1850px;
	padding:3px;
}

.cover{
	background-color: #9dc4fb;
}
.content{
	background-color: #cee2fb;
	text-align: center;
}
.title{
	font-size: 1.5em;
	padding-bottom: 4;
}
/*header*/
	#header{
		padding:5px;
		height: 6em;
	}
	#header .content{
		height: 2.5em;
		margin-left: 0.3em;
		margin-right: 0.3em;
		margin-bottom: 0.6em;
		line-height: 2.5em;
		float: left;
	}
	#id1-1{
		
		width: 15%;
	}
	#id1-2{
		width: 55%;
	}
	#id1-3{
		width: 28%;
	}
	#header{
		margin-bottom: 1em;
	}
	
/*header*/

/*subpanel*/
	.subpanel{
		margin-bottom: 1em;
		height: 10em;	
	}
	#hero{
		width: 63%;
		margin-right: 1em;
		float:left;
		height: 10em;
		padding:1em;
	}
	#ad1{	
		width: 36%
		height: 10em;
		line-height: 10em;
		background-color: #6fa6dc;
		float:right;
		width: 36%;
		text-align: center;
	}
	.subpanel .cover .content{
		height: 6em;
		line-height: 6em;
	}
	#id2-1{
		width: 60%;
		margin-right: 0.6em;
		float:left;
	}
	#id2-2{
		width: 39%;
		float:right;
	}
/*subpanel*/
/*mainpanel*/
	.mainpanel{
		margin-top: 1em;
		height: 25em;
	}
	#maincontent{
		width: 63%;
		margin-right: 1em;
		float: left;
		padding:1em;
	}
	#ad2{
		display: none;
	}
	#sidebar{	
		width: 36%;
		float:right;
		padding:1em;
	}
	#maincontent .content{
		display: inline-table;
	}
	#id4-1{
		width: 35%;
		margin-right: 1em;
		float:left;
		height: 12em;
		line-height: 12em;
		text-align: center;
		
	}
	#id4-2{
		width: 63%;
		float:right;
		height: 12em;
		line-height: 12em;	
		text-align: center;
	}
	#sidebar .content{
		width: 98%
		margin: 0 auto;
		height: 12em;
		line-height: 12em;
		text-align: center;
	}
/*mailpanel*/
/*footer*/
#footer{
	padding:5px;
	background-color: #a1c2f8;
	height: 3em;
}
/*footer*/

@media screen and (max-width: 960px){
	body{
		width: 955px;
	}
	#id1-2{
		width: 53%;
	}
	#id1-3{
		width: 28%;
	}
	#id2-1{
		width: 57%;
		margin-right: 0.6em;
	}
	#id2-2{
		width: 39%;
	}
	#maincontent{
		width: 63%;
	}
	#hero{
		width: 63%;
	}
}

@media screen and (max-width: 768px){
	body{
		width: 765px;
	}
	#id1-2{
		width: 51%;
	}
	#id1-3{
		width: 28%;
	}
	#id2-1{
		width: 57%;
		margin-right: 0.6em;
	}
	#id2-2{
		width: 39%;
	}
	#maincontent{
		width: 63%;
	}
	#hero{
		width: 63%;
	}
	#id4-1{
		display: inline-table;
		width: 40%;
		margin-right: 0.6em;
	}
	#id4-2{
		display: inline-table;
		width: 57%;
	}
}

@media screen and (max-width: 550px){
	body{
		width: 550px;
	}
	#id1-2{
		width: 49%;
	}
	#id1-3{
		width: 28%;
	}
	#id2-1{
		width: 57%;
		margin-right: 0.6em;
	}
	#hero{
		width: 97%;
	}
	#id2-1{
		height:3em;
		line-height: 3em;
		display:block;
		width: 97%;
		margin-bottom: 0.6em;
	}
	#id2-2{
		height:3em;
		line-height: 3em;
		height:3em;
		display:block;
		width: 97%;
	}
	#ad1{
		display: none;
	}
	#maincontent{
		width: 97%;
		display: block;
	}
	#id4-1{
		width: 60%;
		display: inline-table;
		margin-bottom: 0.5em;
	}
	#ad2{
		width: 35%;
		display: inline-table;
		background-color: #6fa6dc;
		height: 12em;
		line-height: 12em;
		margin-bottom: 0.5em;
		text-align: center;
	}
	#id4-2{
		width: 98%;
		height: 65%;
		display: block;
		height: 10em;
	}
	

}

@media screen and (max-width: 320px){
	body{
		width: 320px;
	}
}

